

<h1>forgot password</h1>

<form action="/forgot" method="post">
    <input type="email" name="email" required placeholder="enter email">
    <br><br>
    <input type="submit" value="send Reset link">

</form>