<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4>Forgot Password</h4>
          </div>
          <div class="card-body">
            <form id="forgotPasswordForm" method="post" action="/forgotPassword">
              <div class="form-group">
                <label for="email">Enter Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email" required>
                <small id="emailError" class="form-text text-danger"></small>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <a href="/login"><button type="submit" class="btn btn-danger mt-1">Back to Login</button></a>
            <h5 class="text-danger text-center"><%= messge %></h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <script>
    function validateForm() {
      let email = document.getElementById("email").value;
      let emailError = document.getElementById("emailError");
      let emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

      if (!emailRegex.test(email)) {
        emailError.textContent = "Please enter a valid email address.";
        return false;
      }

      emailError.textContent = "";
      return true;
    }
  </script> -->
</body>
</html>